body{
  height: 100%;
  background-image: url("config.png");
  background-size: 100%;
  background-attachment: fixed;
  z-index: 2;

}

header{
  position: fixed;
  top: 0;
  right: 500;
  background-color: white;
  width: 100%;
  z-index: 3;
}

.lenny{
  position: fixed;
  bottom: 0;
  right: 0px;
  margin-right: 15px;
  z-index: 100;
}

p{
  color: white;
  visibility: hidden;
  width: 500px;
}


.feedback{
  position: fixed;
  z-index: 3;
  margin-top:150px;
  right: 0;
  margin-right: -50px;
  background-color: #3E8DDD;
  z-index: 99;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  padding-top: 10px;
  height:60px;
  overflow-x: hidden;
  width:125px;
  /*Safari*/
  -webkit-transform: rotate(-90deg);
  /*Firefox*/
  -moz-transform: rotate(-90deg);
  /*IE*/
  -ms-transform: rotate(-90deg);
  /*Internet Explorer*/
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}



.feedback:hover{
  margin-right: -40px;
}

label a:link {
  color: white;
  text-decoration-line: none;
}

label a:visited {
  color: white;
  text-decoration-line: none;
}

label a:hover {
  color: black;

}

label a:active {
  color: white;
  text-decoration-line: none;
}
